@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    margin:0;
    height:100%;
    width:100%;
}

#container{
    height:100%;
    width:100%;
}

.container h3{
    color:antiquewhite; 
    padding: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

#misPersonajes:hover{
    transform:scale(1.1);
    cursor:pointer;
}

#containerHeader{
    background-color:midnightblue;
    display:flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 45px;
}

.loginBox{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color: cadetblue;
    width:75pc;
    height:75vh;
}

#elegirPersonaje{
    display:flex;
    flex-direction:column;
    background-color: darkgray;
    height: 152px;
    width: 1050px;
}

.elegirPersonaje header{
    display:flex;      
    align-items:center;
    justify-content:center;
    width:100%;
    height: 45px;
}

.elegirPersonaje h2{
    color: midnightblue;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

#personajes{
    flex:1;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}

.personajes img{
    width: 130px;
    height: 100px;
}
.personajes img:hover{
    transform:scale(1.1);
    cursor:pointer;
}

#elegirParteSuperior{
    display:flex;
    flex-direction:column;
    background-color:darkgray;
    height: 152px;
    width: 1050px;
}

.elegirParteSuperior header{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 45px;
    width:100%;

}

.elegirParteSuperior h2{
    color: midnightblue;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

#parteSuperior{
    flex:1;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.parteSuperior img{
    width: 100px;
    height: 115px;
}
.parteSuperior img:hover{
    transform:scale(1.1);
    cursor:pointer;
}

#elegirPantalon{
    display:flex;
    flex-direction:column;
    background-color: darkgray;
    height: 152px;
    width: 1050px;
}

.elegirPantalon header{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 45px;
    width:100%;
}

.elegirPantalon h2{
    color: midnightblue;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

#pantalon{
    flex:1;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.pantalon img{
    width: 100px;
    height: 100px;
}
.pantalon img:hover{
    transform:scale(1.1);
    cursor:pointer;
}

#elegirCalzado{
    display:flex;
    flex-direction: column;
    background-color: darkgray;
    height: 154px;
    width: 1050px;
}

.elegirCalzado header{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 45px;
    width:100%;
}

.elegirCalzado h2{
    color: midnightblue;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

#calzado{
    flex:1;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}

.calzado img{
    height: 100px;
    width: 100px;
}
.calzado img:hover{
    transform:scale(1.1);
    cursor:pointer;
}

#vestimentaCompleta{
    display:flex;
    flex-direction: column;
    position:absolute;
    top: 45px;
    right: 0px;
    background-color:darkgray;
    height: 610px;
    width: 300px;
}

.vestimentaCompleta header{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width:100%;
}

.vestimentaCompleta h2{
    color: midnightblue;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

#vestimenta{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}

.vestimenta img{
    height: 100px;
    width: 100px;
}

